.btn-primary {
  color: azure;
}

.btn-primary:hover {
  background-color: azure;
  color: #5d5d5d;
  cursor: pointer;
}

.form-control {
  border: 0.125rem solid;
  border-color: #000000;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  height: 2.5rem;
  margin: 2rem 0;
  text-align: center;
  width: 20rem;
}

.form-group {
  display: flex;
  font-family:'Times New Roman', Times, serif;
  justify-content: center;
  padding: 0;
  vertical-align: middle;
}

@media screen and (max-width: 801px) {
  .form-control {
    font-size: 1rem;
  }
}
